@import 'nullstyle';
@import 'media';

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Montserrat+Alternates:wght@500;900&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@300;400&family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Montserrat+Alternates:wght@500;900&family=Montserrat:wght@700&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@300;400&family=Rubik:wght@300;400;500;600;700&display=swap');


:root {
    max-width: 1920px;    
    margin: 0 auto;  
    background-color: #F6F9FC;     
}
html {
    font-size: 16px;
    font-family: 'Rubik';
    font-style: normal;
}
@function rem($px) {
    $result: $px / 16 + rem;
    @return $result;
}
h2 {
    font-weight: 600;
    font-size: rem(48);
    line-height: 111.5%;
    text-transform: uppercase;
    color: #FFFFFF;
}
h3 {
    font-weight: 400;
    font-size: rem(27);
    line-height: 133.5%;   
    color: #FFFFFF; 
}
h4 {
    font-weight: 600;
    font-size: rem(38);
    line-height: rem(45);
    color: #45515F;
    }


/* header */

.container_header {
    background-color: rgb(175, 226, 175);    
    background-image: url(../img/orange_background_2.png);    
    background-repeat: no-repeat; 
    background-position: center;          
    height: 800px;      
    a {
        color: #FFFFFF;
    }    
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 45px 10px 0;
    // padding-top: 45px;
    margin: 0 auto;    
}
.logo {
    font-weight: 400;
    font-size: rem(33);
    line-height: rem(26);    
    span {
        font-weight: 600;
    }
}
.description {
    display: flex;
    justify-content: space-between;
    width: 472px;
    margin: 0 20px;
    a {
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(21);    
    }
}
.enter {
    width: 242px;
    height: 50px;
    font-weight: 500;
    font-size: rem(13);
    line-height: rem(15);
    text-transform: uppercase; 
    background: #FF7B00;   
    border-radius: 8px;   
    position: relative;     
    a {       
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); 
        white-space: nowrap;
    }   
}
.header_burger-btn {
    display: none;
    position: relative;
    width: 39px;
    height: 39px;
    border: none;
    border-radius: 8px;
    background: #FFFFFF;
    margin-right: 0;
}
.header_burger-btn span {
   position: absolute;
   width: 20px;
   height: 3px;
   background-color: #FF7B00;
   left: 10px;  
   top: 18px;
   transition: transform .5s, opacity .5s ease, background-color .5s;
}
.header_burger-btn span:nth-child(1) {
    transform: translateY(-7px); 
 }
 .header_burger-btn span:nth-child(3) {
    transform: translateY(7px); 
 }
 .nav.open .header_burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
 }
 .nav.open .header_burger-btn span:nth-child(2) {
    opacity: 0;
 }
 .nav.open .header_burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
 }

.header_row { 
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 64px auto;
    height: 582px; 
    padding: 0 10px;      
}
.photo {
    max-width: 458px;
    max-height: 697px; 
    z-index: 1;
    margin-top: -114px;
    margin-left: -80px;

}

.application {
    display: flex;
    flex-direction: column;
    p {
        font-weight: 300;
        font-size: rem(14);
        line-height: 145.5%;       
        color: #FFFFFF;  
        margin-top: 110px;
    }
}
.hot {   
    width: 382px;
    height: 56px;
    background: #FFFFFF ;
    border-radius: 12px;
    margin-top: 35px;
    a {
        display: flex;         
        justify-content: center;
        align-items: center;
        p {
            font-weight: 500;
            font-size: rem(22);
            line-height: rem(26);
            text-transform: uppercase;
            color: #3C4260;
            margin-left: 11px;
            margin-top: 10px;
        }
        img {            
            margin-top: -10px;
        }
    }
    
}
h2 {
    margin-top: 20px;
}
h3 {
    margin-top: 15px;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 428px;  
    height: 582px; 
    padding: 30px 10px 0;        
    color: #45515F;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
    border-radius: 15px;    
    .button {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }    
}
.sum {
    .text {
        font-weight: 400;
        font-size: rem(22);
        line-height: rem(26);
       
    }
    .number {
        font-weight: 700;
        font-size: rem(20);
        line-height: rem(24);
        margin-left: 264px;
        margin-top: 15px;
        transform: translate(-30%, 0);
    }    
    .orange_line.day {
        width: 104px;
    }
    .number.day {
        margin-left: 145px;
        
    }    
    .range {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        color: #C0C2C5;
    }
}
.line {
    display: flex;
    width: 381px;
    height: 7px;
    border-radius: 8px;
    background: #ECECEC;
    margin-top: 10px;
}
.orange_line {
    width: 264px;
    height: 7px;
    border-radius: 8px;
    background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
}
.circle {
width: 21px;
height: 21px;
border-radius: 50%;
background: #FFA147;
position: relative; 
align-self: center;
transform: translate(-50%,0);       
.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    white-space: nowrap;
}
}
.sum.day {
    margin-top: 43px;
}
.button {
    width: 273px;
    height: 64px;
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(21);
    text-transform: uppercase;    
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    background: url(../img/button_background.png);    
    border-radius: 8px;
    position: relative;
    margin: 25px auto 0 auto;    
    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        color: #FFFFFF;
    }
}
.result {
    display: flex;
    margin-top: 63px;
}
.first_col {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.inscription {
    font-weight: 300;
    font-size: rem(14);
    line-height: rem(17);
    color: #45515F;
}
.caption {
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(21);
    color: #F28925;
    margin-bottom: 21px;
}
.second_col {
    display: flex;
    flex-direction: column;
    margin-left: 52px;
}
.container_offer {
    display: flex;
    flex-direction: column;
}
h4 {
    text-align: center;
    margin-top: 35px;
}

/* container_offer */

.cards_row {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 36px auto 0 auto;
    padding: 0 10px;
}
.card_first,
.card_second, 
.card_third {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 408px;
    height: 172px;
    background: rgba(255, 255, 255, 0.95);;
    border-radius: 22px;
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    backdrop-filter: blur(6px);
    color: #45515F;  
    padding-left: 64px;
    .tape {        
        transform: rotate(-45deg);
        margin: -8px 0 0 -85px; 
        font-weight: 500;
        font-size: rem(14);
        line-height: 182%;
        text-transform: uppercase;                
        border-bottom: 21.48px solid #FFC83E;
        border-left: 21.48px solid transparent;
        border-right: 21.48px solid transparent;
        height: 0;
        width: 93.37px;  
        position: relative;
            p {
            font-weight: 500;
            font-size: rem(14);
            line-height: 182%;
            text-transform: uppercase;
            color: #FFFFFF;
            position: absolute;            
            left: 50%;
            transform: translate(-50%, -10%);
        }            
    }    
    p {
        font-weight: 700;
        font-size: rem(28);
        line-height: rem(33);
        span {
            color: #FFC83E;
        }
    }  
    .date,
    .money {
        display: flex;
        align-items: center;
        p {
            font-size: rem(15);
            line-height: 182%;            
            color: #45515F; 
            font-weight: 300;
            margin-left: 10px;
            span {
                font-weight: 500;
                color: #45515F; 
            }            
        }
    }
}
.date {
    margin-top: 25px;
    img {
        width: 12px;
        height: 11px;
    }
}
.money {
    img {
        width: 9px;
        height: 10px;
    }
}
.card_second {
    p {
        span {
            color: #FF7B00;
        }
    }   
    .tape {        
        border-bottom: 21.48px solid #FF7B00;
    }
}
.card_third {
    p {
        span {
            color: #FA5914;
        }
    }  
    .tape {        
        border-bottom: 21.48px solid #FA5914;
    } 
}
.offer {
    font-weight: 300;
    font-size: rem(13);
    line-height: 145.5%;
    text-align: center;
    margin-top: 33px;
}



.container-manual {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 51px auto 0 auto;
    max-width: 1280px; 
    width: 100%;
    padding: 0 10px;
    
    .line {
        width: 1280px;              
        height: 1px;
        background: rgba(207, 213, 221, 0.3);
        margin: 0 auto;
    }
    .button {       
        margin-top: 85px;
        margin-bottom: 9px;
    }
}
.manual-col {
    height: 208px;
    .orange_line {
        width: 160px;             
    }
    .line {
        background: #FFFFFF;
        height: 7px;
        margin-top: -20px;
    }
}
.manual-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    .hand {
        width: 68px;
        height: 77px;
        margin-left: -20px;
    }
    .sheet {
        width: 59px;
        height: 59px;
        margin-left: -10px;
    }
    .master {
        width: 67px;
        height: 67px;
    }
    .wallet {
        width: 61px;
        height: 61px;
    }

}

.circle_number {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;  
    margin-top: 29px;  
    .circle {
        position: relative;
        background: #FFFFFF;
        width: 34px;
        height: 34px;
        .number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 500;
            font-size: 16px;
            line-height: 145.5%;    
            color: #D6D3D3;
        }
    }
    .circle.orange {
        background-color: #FFA147;
        
        .number {
            color: #FFFFFF;
        }
    }
}




.manual-text {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 36px;
    .first_text {

    }
    .second_text {
        margin-left: 70px;
    }
    .third_text {
        margin-left: 40px;
    }
    .fourth_text {
    }
}


/* container_method */

.container_method {
    display: flex;
    flex-direction: column;
    min-height: 451px;
    background:  rgba(255, 255, 255, 0.95);
    .method_row {
        display: flex;
        justify-content: space-between;
        max-width: 840px;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
        margin-top: 44px;
    }
    .method_card {
        display: flex;
        flex-direction: column;        
        align-items: center;
        width: 140px;        
        height: 133px;
        background: #F6F9FC;
        border-radius: 22px;        
        img {
            width: 100px;
            height: 54px;
            margin-top: 34px;
        }
        .arrow {
            width: 17.14px;
            height: 10px;
            margin-top: 17px;
        }
        .money {
            width: 55px;
            height: 39px;
            margin-top: 41px;
        }
    }
    p {
        font-weight: 300;
        font-size: rem(13);
        line-height: 145.5%;        
        color: #45515F;
        margin-top: 14px;
    }
    .button {
        margin-top: 31px;
        margin-bottom: 10px;
    }
}

/* container_feedback */

.container_feedback {
    display: flex;    
    flex-direction: column;
    align-items: center;   
    .feedback_row {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        width: 100%;
        margin-top: 43px;
        padding: 0 10px;        
        .feedback_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 408px;
            height: 486px;
            background: rgba(255, 255, 255, 0.95);
            box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
            backdrop-filter: blur(6px);        
            border-radius: 22px;
            padding-left: 47px;
            padding-top: 51px;  
            padding-bottom: 47px;  
            h5 {
                font-weight: 700;
                font-size: rem(18);
                line-height: rem(21);
                color: #45515F;
            }        
            img {
                width: 96px;
                height: 96px;
            }
            .location {            
                img {
                    width: 12px;
                    height: 16px;                    
                }                
            }
            .text {
                font-weight: 300;
                font-size: rem(16);
                line-height: rem(19);
                color: #536473;
            }
            .rating {
                width: 77.55px;
                height: 12px;
            }
        }
    }
    .choice {
        display: flex;
        margin-top: 37px;
        justify-content: center;
        align-items: center;        
        .button {  
            margin: 0;             
        }
        .review {
            width: 169px;
            height: 62px;
            border: 1px #C9D2DD solid;
            border-radius: 8px;   
            margin-left: 10px; 
            font-weight: 500;
            font-size: rem(16);
            line-height: rem(19);            
            text-transform: uppercase;
            color: #45515F; 
            position: relative;
            a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
            }       
        }
    }
}
.location {
    display: flex;
    font-weight: 400;
    font-size: rem(15);
    line-height: rem(18);
    color: #93A0AB;
    img {        
        margin-right: 8px;
    }                
}

/* container_client */

.container_client {
    height: 317px;
    background: url(../img/client_background.png);    
    h4 {
        color: #FFFFFF;
        padding-top: 55px;
    }
    .client_row {
        display: flex;    
        justify-content: space-between;
        max-width: 1280px;
        padding: 0 10px;
        margin: 0 auto;
        .client_card {
            display: flex; 
            align-items: center;
            width: 408px;
            height: 121px;
            background: #FFFFFF;
            border-radius: 22px;
            margin-top: 37px;            
            .client_col {
                display: flex;
                flex-direction: column;
                margin-left: 24px;
            }           
            img {
                width: 21px;
                height: 21px;
                margin-left: 31px;
            }
            .location {
                margin-top: 8px;
                img {
                    margin-left: 0;  
                    width: 12px;
                    height: 16px;                  
                }
            }
            .text {
                font-weight: 300;
                font-size: rem(16);
                line-height: rem(19);                    
                color: #536473;
                margin-top: 6px;
            }
        }
    }
}

/* container_service */

.container_service {
    display: flex;
    flex-direction: column;
    min-height: 828px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.95);
    .client_row {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        .service_card {
            display: flex;
            flex-direction: column;
            max-width: 625px;
            min-height: 612px;
            margin-top: 43px;
            border: 1px solid #F8EBEB;
            box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
            border-radius: 22px;
            padding: 44px 44px;
            p {
                font-weight: 600;
                font-size: rem(24);
                line-height: rem(28);
                color: #45515F;               
            }
            .text {
                font-weight: 300;
                font-size: rem(16);
                line-height: rem(19);
                color: #536473;
                margin-top: 31px;
            }
        }
    }
}

/* container_question */

.container_question {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    .question_col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 147px;
        background: linear-gradient(268.87deg, #FFC83E -5.09%, #FF7347 51.96%);
        border-radius: 12px;
        padding: 21px 43px 28px 33px;
        margin-top: 37px;
        .question_active {
            display: flex;
            justify-content: space-between;
            background: rgba(0,0,0,0);                    
        }
        .answer {
            font-weight: 300;
            font-size: rem(16);
            line-height: rem(19);
            color: #FFFFFF;
        }
    }
    .question {
        font-weight: 600;
        font-size: rem(20);
        line-height: rem(24);
        color: #FFFFFF;
    }  
    .question_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        width: 100%;
        height: 70px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
        border-radius: 12px;
        padding: 21px 43px 28px 33px;
        margin-top: 4px;
        .question {
            color: #45515F;
        }
    }
}

/* container_now */
.container_now {
    height: 356px;    
    background: #FEFEFE; 
}

.now_row {
    display: flex;
    justify-content: space-between;      
    max-width: 1280px;   
    margin: 69px auto 0 auto;
    padding: 61px 10px;    
    .now_col {
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        h4 {
            margin: 0;
        } 
        p {
            font-weight: 400;
            font-size: rem(27);
            line-height: 133.5%;            
            color: #536473;
        }        
    }
    img {
        width: 633px;
        height: 422px;
        margin-top: -66px - 61px;
        background: url(../img/sun.png) top 97px left no-repeat;
    }
    .button {
        margin: 0;
    }
}

/* footer */

.footer {
    min-height: 846px;
    background: url(../img/footer_background.png);
    background-position: center;
    color: #FFFFFF;
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav {
        a {
            color: #FFFFFF;
        }
        .mail {
            font-weight: 400;
            font-size: rem(13);
            line-height: rem(15);
            img {
                width: 21.33px;
                height: 15px;
                margin-right: 11px;
            }
        }
        .phone {
            font-weight: 700;
            font-size: rem(22);
            line-height: rem(26);                        
            img {
                width: 19px;
                height: 19px; 
                margin-right: 14px;  
                vertical-align: middle;                                  
            }                   
        }
        .line_footer {
            width: 0;
        }
    }   
}
.line_footer {
    max-width: 1280px;
    width: 100%;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    margin-top: 27px;
}
.container_footer {
    display: flex;
    flex-direction: column;    
    margin-top: 20px;
    max-width: 1280px;
    width: 100%;
    padding: 0 10px;
    .title {
        font-weight: 500;
        font-size: rem(18);
        line-height: rem(21);
        text-transform: uppercase;
    }
    .text {
        font-weight: 300;
        font-size: rem(13);
        line-height: rem(15);
        margin-top: 17px;
    }
}


.footer_row {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    .valid_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
               
        .line_footer {
            max-width: 478px;
            margin: 20px 0;            
        }
        .list {
            display: flex;   
            align-items: center;         
            margin: -5px 0;
            .title {
                font-weight: 500;
                font-size: rem(18);
                line-height: rem(21);
            }
            .wallet {
                width: 74px;
                height: 40px;
                margin-left: 37px;
            }
            .mastercard {
                width: 76px;
                height: 41px;
                margin-left: 6px;
            }
            .mir {
                width: 89px;
                height: 48px;
                margin-left: 22px;
            }
        }
    }
    .personal {
        width: 772px;
        height: 86px;
        border: 1px solid #FFFFFF;
        position: relative;
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            a {
                text-decoration: underline;
            }
        }
    }
}

.footer_social {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .copyright {
        display: flex;
        align-items: center;
        img {
            width: 45px;
            height: 45px;            
        }
        .title {
            font-weight: 400;
            font-size: rem(18);
            line-height: rem(21);
            margin-left: 18px;
        }
    }
    .social {
        display: flex;        
        justify-content: space-between;
        align-items: center;
        width: 350px;        
        .line_footer {
            width: 27px;
            transform: rotate(90deg);
            margin: 0;
        }
        .youtube {
            width: 22px;
            height: 15.9px;
            margin-left: 36px;
        }        
        .instagram {
            width: 19px;
            height: 19px;
        }
        .facebook {
            width: 11px;
            height: 21px;
        }
        .unsubscrible {
            width: 169px;
            height: 45px;
            border: 1px solid #FEFEFE;
            border-radius: 8px;
            position: relative;
            p {
                font-weight: 500;
                font-size: rem(16);
                line-height: rem(19);
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
